@media screen and (min-width:0px) and (max-width:576px ) {
    #ppp{
        padding-left: 13%;
    }
}

@media (min-width: 576px) { 
    #ppp{
        padding-left: 10%;
    }
 }

@media (min-width: 768px) { 
    #ppp{
        padding-left: 0% !important;
    }
 }

@media (min-width: 992px) { 
    #ppp{
        padding-left: 0% !important;
    }
 }

@media (min-width: 1200px) { 
    #ppp{
        padding-left: 0% !important;
    }
 }

@media (min-width: 1400px) { 
    .container{
        width: 1140px !important;
    }
    #ppp{
        padding-left: 0% !important;
    }
 }